/* Write your CSS here */

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto';
}

.bg-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chrono-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .chrono-container {
    width: 80%;
  }
}

.main-heading {
  font-size: 20px;
  color: #171f46;
  text-align: center;
  padding: 10px;
}

.ccbp-heading {
  color: #1e293b;
  font-size: 23px;
}
